.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #2E3235;
}
.editor .CodeMirror-scroll,
.editor .CodeMirror-dialog {
  color: #DDDDDD;
}
.editor .CodeMirror-gutters {
  background-color: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.editor .CodeMirror-linenumber {
  color: #808080;
}
.editor .CodeMirror-selected {
  background-color: #808080;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #000000;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #808080;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #B9D2FF !important;
  color: #808080 !important;
  border-bottom: 1px solid #A54543 !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #b0b0b0;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #d0d0d0;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #808080;
}
.editor .CodeMirror-foldmarker {
  border-color: #808080;
  background-color: #808080;
  color: #B9D2FF;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.1);
}
.editor .cm-searching {
  background-color: rgba(165, 69, 67, 0.4);
  color: white !important;
}
.editor .CodeMirror .cm-url {
  color: #6987AF;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #8abeb7;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #fda331;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #b5bd68;
}
.editor .CodeMirror .cm-variable {
  color: #808080;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2,
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #cc99cc;
}
.editor .CodeMirror .cm-comment {
  color: #808080;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #fc6d24;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #DDDDDD;
}
.editor .CodeMirror .cm-link {
  color: #6987AF;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #b5bd68;
}
.editor .CodeMirror .cm-builtin {
  color: #6987AF;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #fda331;
}
.editor .CodeMirror .cm-quote {
  color: #cc99cc;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #808080;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #fda331;
}
.editor .CodeMirror .cm-em {
  color: #6fb3d2;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #808080;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.1);
  color: #b0b0b0;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.1);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #cc99cc;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(185, 210, 255, 0.1) !important;
}
